<div class="masthead clearfix">
  <div class="inner">
    <h2 class="masthead-brand"><span class="name">Brett Lorscheider</span>
    <link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet"></h2>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>