<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>1578 Bridle Path Loop, Lehi, UT 84043</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "8019950874" %></p>

    <h3>Email</h3>

    <p><a href="mailto:brettlorsch@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.8058204377244!2d-111.85695678427099!3d40.368829766474654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d81e197d0b86d%3A0xf59ac38ebc7fc7d7!2s1578+S+270+W+Loop%2C+Lehi%2C+UT+84043!5e0!3m2!1sen!2sus!4v1517597562962" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
